* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #171719;
}

body {
  margin: 0;
  padding: 0;
  background-color: #171719;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
}